.infoBox { background-color: #FFF; width: 300px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; border: 2px solid #3fa7d8; border-radius: 3px; margin-top: 10px }
.infoBox p { padding: 0 15px }
.infoBox:before { border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #3fa7d8; top: -10px; content: ""; height: 0; position: absolute; width: 0; left: 138px }

.logoPrincipal { background: url(../img/logo.png) no-repeat; font-size: 0px; text-indent: -9999px; height: 65px; display: block; margin-top:20px; }

#mapa img{max-width:none;}

.pageLogin {margin-top: 50px; }

.color-white,
.color-white:hover {color:#FFF;}

.display-none {display: none;}