<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Tarefa131</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServicoServlet</servlet-name>
    <servlet-class>br.telehand.controller.ServicoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AtendimentoServlet</servlet-name>
    <servlet-class>br.telehand.controller.AtendimentoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgendaServlet</servlet-name>
    <servlet-class>br.telehand.controller.AgendaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReporteServlet</servlet-name>
    <servlet-class>br.telehand.controller.ReporteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClienteServlet</servlet-name>
    <servlet-class>br.telehand.controller.ClienteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.telehand.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrdemServico</servlet-name>
    <servlet-class>br.telehand.controller.OrdemServicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicoServlet</servlet-name>
    <url-pattern>/ServicoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AtendimentoServlet</servlet-name>
    <url-pattern>/AtendimentoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReporteServlet</servlet-name>
    <url-pattern>/ReporteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgendaServlet</servlet-name>
    <url-pattern>/AgendaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClienteServlet</servlet-name>
    <url-pattern>/ClienteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdemServico</servlet-name>
    <url-pattern>/OrdemServicoServlet.do</url-pattern>
  </servlet-mapping>
</web-app>